# <font color='skyblue'>HW-1 + HW-2 _ Information Retrieval

MohammadReza

May - 2023
<font>

In [38]:
import pandas as pd
import nltk
from nltk.stem.wordnet import WordNetLemmatizer
import string
import re
from collections import defaultdict

### <font color='orange'>Opening stopword.txt file and store each word in a list.</font>

In [39]:
with open('stopwords.txt', 'r') as stopwords_file:
    stopwords = stopwords_file.read().split()


print('Number of stopwords:', len(stopwords))
print('Some of stopwords: \n', stopwords[0:10])

Number of stopwords: 542
Some of stopwords:
 ['a', 'associates', 'able', 'about', 'above', 'according', 'accordingly', 'across', 'actually', 'after']

# <font color='yellow'>-----------------------PART 1: PARSING-----------------------</font>

# Opening 3 folders:

#### 2007, 2008, 2009

In [40]:
# Use the os module to get a list of all files in the folder.
import os
path_2007 = './cars/2007'
car_2007_names = os.listdir(path_2007)
print('Number of 2007 cars: ', len(car_2007_names))

path_2008 = './cars/2008'
car_2008_names = os.listdir(path_2008)
print('Number of 2008 cars: ', len(car_2008_names))

path_2009 = './cars/2009'
car_2009_names = os.listdir(path_2009)
print('Number of 2009 cars: ', len(car_2009_names))

print('Number of all cars: ', len(car_2007_names) + len(car_2008_names) + len(car_2009_names))

Number of 2007 cars:  227
Number of 2008 cars:  228
Number of 2009 cars:  143
Number of all cars:  598

In [41]:
text_list = []
favorite_list = []
doc_id_list = []
car_names = []
doc_id = 11111

def reset_list():
    global text_list, favorite_list, doc_id_list, car_names, doc_id
    text_list = []
    favorite_list = []
    doc_id_list = []
    car_names = []
    doc_id = 11111

In [42]:
def add_to_list(file_name, data):
    global text_list, favorite_list, doc_id_list, car_names, doc_id

    doc_regex = re.compile(r'<DOC>.*?</DOC>', re.DOTALL)
    doc_matches = doc_regex.findall(data)

    for match in doc_matches:
        text_regex = re.compile(r'<TEXT>(.*?)</TEXT>')
        text_match = text_regex.search(match)
        if text_match:
            text_list.append(text_match.group(1))
            car_names.append(file_name)
            # doc_id_list.append(file_name + '_' + str(doc_id))
            doc_id_list.append(file_name[0:4] + str(doc_id))  # new
            doc_id += 1
        else:
            text_list.append(" ")
            car_names.append(file_name)
            # doc_id_list.append(file_name + '_' + str(doc_id))
            doc_id_list.append(file_name[0:4] + str(doc_id))  # new
            doc_id += 1

        fav_regex = re.compile(r'<FAVORITE>(.*?)</FAVORITE>')
        fav_match = fav_regex.search(match)
        if fav_match:
            favorite_list.append(fav_match.group(1))
        else:
            favorite_list.append(" ")

In [43]:
cars_2007_DOC = pd.DataFrame()
cars_2008_DOC = pd.DataFrame()
cars_2009_DOC = pd.DataFrame()


def make_df(year):
    # Create a Pandas DataFrame from the lists
    global cars_2007_DOC
    global cars_2008_DOC
    global cars_2009_DOC
    if year == 2007:
        cars_2007_DOC = pd.DataFrame({
            'CAR_NAME': car_names,
            'DOCID': doc_id_list,
            'TEXT': text_list,
            'FAVORITE': favorite_list
        })

    elif year == 2008:
        cars_2008_DOC = pd.DataFrame({
            'CAR_NAME': car_names,
            'DOCID': doc_id_list,
            'TEXT': text_list,
            'FAVORITE': favorite_list
        })
    elif year == 2009:
        cars_2009_DOC = pd.DataFrame({
            'CAR_NAME': car_names,
            'DOCID': doc_id_list,
            'TEXT': text_list,
            'FAVORITE': favorite_list
        })

In [44]:
# Use the chardet library to detect the encoding of the file.
import chardet

""" 
  The first part of the code reads the file in binary mode and uses chardet to detect the encoding.
  The second part of the code reads the file in text mode with the detected encoding.
"""
# 2007 folder:
reset_list()  # Clear the lists
for filename in car_2007_names:
    file_path = os.path.join(path_2007, filename)
    with open(file_path, 'rb') as file:
        encoding = chardet.detect(file.read())['encoding']

    with open(file_path, 'r', encoding=encoding) as file:
        file_data = file.read()
        add_to_list(filename, file_data)

make_df(2007)

# 2008 folder:
reset_list()  # Clear the lists
for filename in car_2008_names:
    file_path = os.path.join(path_2008, filename)
    with open(file_path, 'rb') as file:
        encoding = chardet.detect(file.read())['encoding']

    with open(file_path, 'r', encoding=encoding) as file:
        file_data = file.read()
        add_to_list(filename, file_data)

make_df(2008)

# 2009 folder:
reset_list()  # Clear the lists
for filename in car_2009_names:
    file_path = os.path.join(path_2009, filename)
    with open(file_path, 'rb') as file:
        encoding = chardet.detect(file.read())['encoding']

    with open(file_path, 'r', encoding=encoding) as file:
        file_data = file.read()
        add_to_list(filename, file_data)

make_df(2009)

In [45]:
cars_2007_DOC
# cars_2008_DOC
# cars_2009_DOC

,CAR_NAME,DOCID,TEXT,FAVORITE
0,2007_acura_mdx,200711111,I just moved to Germany two months ago and bou...,The separate controls for the rear passengers ...
1,2007_acura_mdx,200711112,After months of careful research and test driv...,The self-adjusting side mirrors which rotate t...
2,2007_acura_mdx,200711113,I'm two years into a three year lease and I lo...,"Navi is easy, hands-free is great, AWD is perf..."
3,2007_acura_mdx,200711114,First luxury crossover SUV I have owned. MDX w...,"AWD system, exterior styling, cargo room"
4,2007_acura_mdx,200711115,This is the first Japanese SUV we have had in ...,"Navigation, sound system, bluetooth, comfort, ..."
...,...,...,...,...
18898,2007_volvo_xc90,200730009,I have been a loyal Volvo customer (3 Cross Co...,"Safety, plenty of room, great convenience feat..."
18899,2007_volvo_xc90,200730010,this car is probably the best vehicle I have o...,
18900,2007_volvo_xc90,200730011,This is my first Volvo purchase and so far so ...,"Leather seats, extra large trunk space (for a ..."
18901,2007_volvo_xc90,200730012,This is a great car....tons of power with new ...,"Bi xenon headlights, AWD w/ instant traction, ..."
18902,2007_volvo_xc90,200730013,I recently bought an 2007 Volvo XC90 with the ...,The stares I get from women thinking I have a ...

In [46]:
print('number of document 2007:', len(cars_2007_DOC))
print('number of document 2008:', len(cars_2008_DOC))
print('number of document 2009:', len(cars_2009_DOC))

number of document 2007: 18903
number of document 2008: 15438
number of document 2009: 7947

# <font color='yellow'>-----------------------PART 2: PREPROCESSING-----------------------</font>

## <font color='orange'>Remove punctuation and convert to lowercase letters:</font>

In [47]:
def remove_punctuation(text):
    return re.sub(r'[^\w\s]',' ', text)

def lower_case(text):
    return text.lower()

In [48]:
# Remove puncutation 2007:
cars_2007_DOC['TEXT'] = cars_2007_DOC['TEXT'].apply(remove_punctuation)
cars_2007_DOC['FAVORITE'] = cars_2007_DOC['FAVORITE'].apply(remove_punctuation)
# lowercase 2007:
cars_2007_DOC['TEXT'] = cars_2007_DOC['TEXT'].apply(lower_case)
cars_2007_DOC['FAVORITE'] = cars_2007_DOC['FAVORITE'].apply(lower_case)

# Remove puncutation 2008:
cars_2008_DOC['TEXT'] = cars_2008_DOC['TEXT'].apply(remove_punctuation)
cars_2008_DOC['FAVORITE'] = cars_2008_DOC['FAVORITE'].apply(remove_punctuation)
# lowercase 2008:
cars_2008_DOC['TEXT'] = cars_2008_DOC['TEXT'].apply(lower_case)
cars_2008_DOC['FAVORITE'] = cars_2008_DOC['FAVORITE'].apply(lower_case)

# Remove puncutation 2009:
cars_2009_DOC['TEXT'] = cars_2009_DOC['TEXT'].apply(remove_punctuation)
cars_2009_DOC['FAVORITE'] = cars_2009_DOC['FAVORITE'].apply(remove_punctuation)
# lowercase 2009:
cars_2009_DOC['TEXT'] = cars_2009_DOC['TEXT'].apply(lower_case)
cars_2009_DOC['FAVORITE'] = cars_2009_DOC['FAVORITE'].apply(lower_case)

## <font color='orange'>Removing Numbers:</font>

In [49]:
def remove_numbers(text):
    res = ''
    for char in text:
     if not char.isdigit():
          res += char
          
    return res
cars_2007_DOC['TEXT'].iloc[0]

'i just moved to germany two months ago and bought an 07 mdx from another military member  it has everything i could want  we just returned from a week driving through the alps and this suv is simply amazing  granted  i get to drive it much faster than i could in the states  but even at 120 mph  it was rock solid  we need the awd for the snow and the kids stay entertained with the av system  plenty of passing power and very comfortable on long trips  acuras are rare in germany and i get stares all the time by curious bavarians wondering what kind of vehicle i have  if you are in the market for a luxury suv for family touring  with cool tech toys to play with  mdx can t be beat  '

In [50]:
# remove_numbers 2007
cars_2007_DOC['TEXT'] = cars_2007_DOC['TEXT'].apply(remove_numbers)
cars_2007_DOC['FAVORITE'] = cars_2007_DOC['FAVORITE'].apply(remove_numbers)
# remove_numbers 2008
cars_2008_DOC['TEXT'] = cars_2008_DOC['TEXT'].apply(remove_numbers)
cars_2008_DOC['FAVORITE'] = cars_2008_DOC['FAVORITE'].apply(remove_numbers)
# remove_numbers 2009
cars_2009_DOC['TEXT'] = cars_2009_DOC['TEXT'].apply(remove_numbers)
cars_2009_DOC['FAVORITE'] = cars_2009_DOC['FAVORITE'].apply(remove_numbers)

In [51]:
cars_2007_DOC['TEXT'].iloc[0]

'i just moved to germany two months ago and bought an  mdx from another military member  it has everything i could want  we just returned from a week driving through the alps and this suv is simply amazing  granted  i get to drive it much faster than i could in the states  but even at  mph  it was rock solid  we need the awd for the snow and the kids stay entertained with the av system  plenty of passing power and very comfortable on long trips  acuras are rare in germany and i get stares all the time by curious bavarians wondering what kind of vehicle i have  if you are in the market for a luxury suv for family touring  with cool tech toys to play with  mdx can t be beat  '

## <font color='orange'>Removing Stopwords:</font>

In [52]:
def remove_stopwords(text):
    # Tokenize the input text
    word_tokens = nltk.word_tokenize(text)

    # Remove the stop words
    filtered_text = [word for word in word_tokens if not word in stopwords]

    # Join the filtered words back into a string
    filtered_text = ' '.join(filtered_text)
    
    return filtered_text

In [53]:
cars_2007_DOC['TEXT'] = cars_2007_DOC['TEXT'].apply(remove_stopwords)
cars_2007_DOC['FAVORITE'] = cars_2007_DOC['FAVORITE'].apply(remove_stopwords)

cars_2008_DOC['TEXT'] = cars_2008_DOC['TEXT'].apply(remove_stopwords)
cars_2008_DOC['FAVORITE'] = cars_2008_DOC['FAVORITE'].apply(remove_stopwords)

cars_2009_DOC['TEXT'] = cars_2009_DOC['TEXT'].apply(remove_stopwords)
cars_2009_DOC['FAVORITE'] = cars_2009_DOC['FAVORITE'].apply(remove_stopwords)

In [54]:
cars_2007_DOC

,CAR_NAME,DOCID,TEXT,FAVORITE
0,2007_acura_mdx,200711111,moved germany months ago bought mdx military m...,separate controls rear passengers awesome cont...
1,2007_acura_mdx,200711112,months careful research test drives bmw lexus ...,adjusting side mirrors rotate give view curb l...
2,2007_acura_mdx,200711113,years year lease love car thing change shape g...,navi easy hands free great awd perfect
3,2007_acura_mdx,200711114,luxury crossover suv owned mdx won lexus cost ...,awd system exterior styling cargo room
4,2007_acura_mdx,200711115,japanese suv suv yukon xl envoy xl beats perfo...,navigation sound system bluetooth comfort acce...
...,...,...,...,...
18898,2007_volvo_xc90,200730009,loyal volvo customer cross country years feel ...,safety plenty room great convenience features ...
18899,2007_volvo_xc90,200730010,car vehicle owned feel beats fx safest suv road,
18900,2007_volvo_xc90,200730011,volvo purchase good love exterior aesthetics i...,leather seats extra large trunk space mid size...
18901,2007_volvo_xc90,200730012,great car tons power speed auto luxurious inte...,bi xenon headlights awd instant traction navi ...
18902,2007_volvo_xc90,200730013,recently bought volvo xc cylinder motor sluggi...,stares women thinking large income thing

## <font color='orange'>Tokenization and Lemmatization:</font>

In [55]:
lemmatizer = WordNetLemmatizer()

def tokenize(text):
    return nltk.word_tokenize(text)

In [56]:
lemmatizer.lemmatize('are')

'are'

In [57]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer() 
for item in ['am' ,'are' ,'is','was','were']:
    print(lemmatizer.lemmatize(item,pos='v'),end='\t')

be	be	be	be	be

In [58]:
# Tokenize 2007:
cars_2007_DOC['TEXT'] = cars_2007_DOC['TEXT'].apply(tokenize)
cars_2007_DOC['FAVORITE'] = cars_2007_DOC['FAVORITE'].apply(tokenize)
# Lemmatization 2007:
cars_2007_DOC['TEXT'] = cars_2007_DOC['TEXT'].apply(
    lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])
cars_2007_DOC['FAVORITE'] = cars_2007_DOC['FAVORITE'].apply(
    lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])

# Tokenize 2008:
cars_2008_DOC['TEXT'] = cars_2008_DOC['TEXT'].apply(tokenize)
cars_2008_DOC['FAVORITE'] = cars_2008_DOC['FAVORITE'].apply(tokenize)
# Lemmatization 2008:
cars_2008_DOC['TEXT'] = cars_2008_DOC['TEXT'].apply(
    lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])
cars_2008_DOC['FAVORITE'] = cars_2008_DOC['FAVORITE'].apply(
    lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])

# Tokenize 2009:
cars_2009_DOC['TEXT'] = cars_2009_DOC['TEXT'].apply(tokenize)
cars_2009_DOC['FAVORITE'] = cars_2009_DOC['FAVORITE'].apply(tokenize)
# Lemmatization 2009:
cars_2009_DOC['TEXT'] = cars_2009_DOC['TEXT'].apply(
    lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])
cars_2009_DOC['FAVORITE'] = cars_2009_DOC['FAVORITE'].apply(
    lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])

In [59]:
# Example:
print(cars_2007_DOC['TEXT'].iloc[2])
cars_2007_DOC

['year', 'year', 'lease', 'love', 'car', 'thing', 'change', 'shape', 'grill', 'perfect', 'great', 'performance', 'plenty', 'power', 'awd', 'skiing', 'plenty', 'room', 'baggage', 'great', 'mpg', 'suv', 'navi', 'system', 'superior', 'gm', 'suburban', 'don', 'put', 'park', 'change', 'destination', 'problem', 'gas', 'oil', 'beautiful', 'car', 'sho', 'gun', 'shield', 'grill']

,CAR_NAME,DOCID,TEXT,FAVORITE
0,2007_acura_mdx,200711111,"[moved, germany, month, ago, bought, mdx, mili...","[separate, control, rear, passenger, awesome, ..."
1,2007_acura_mdx,200711112,"[month, careful, research, test, drive, bmw, l...","[adjusting, side, mirror, rotate, give, view, ..."
2,2007_acura_mdx,200711113,"[year, year, lease, love, car, thing, change, ...","[navi, easy, hand, free, great, awd, perfect]"
3,2007_acura_mdx,200711114,"[luxury, crossover, suv, owned, mdx, won, lexu...","[awd, system, exterior, styling, cargo, room]"
4,2007_acura_mdx,200711115,"[japanese, suv, suv, yukon, xl, envoy, xl, bea...","[navigation, sound, system, bluetooth, comfort..."
...,...,...,...,...
18898,2007_volvo_xc90,200730009,"[loyal, volvo, customer, cross, country, year,...","[safety, plenty, room, great, convenience, fea..."
18899,2007_volvo_xc90,200730010,"[car, vehicle, owned, feel, beat, fx, safest, ...",[]
18900,2007_volvo_xc90,200730011,"[volvo, purchase, good, love, exterior, aesthe...","[leather, seat, extra, large, trunk, space, mi..."
18901,2007_volvo_xc90,200730012,"[great, car, ton, power, speed, auto, luxuriou...","[bi, xenon, headlight, awd, instant, traction,..."
18902,2007_volvo_xc90,200730013,"[recently, bought, volvo, xc, cylinder, motor,...","[stare, woman, thinking, large, income, thing]"

# <font color='yellow'>-----------------------PART 3: INVERTED INDEX-----------------------</font>

In [60]:
# Concatenate the data frames vertically
all_cars_DOC = pd.concat([cars_2007_DOC, cars_2008_DOC, cars_2009_DOC], axis=0)
all_cars_DOC

,CAR_NAME,DOCID,TEXT,FAVORITE
0,2007_acura_mdx,200711111,"[moved, germany, month, ago, bought, mdx, mili...","[separate, control, rear, passenger, awesome, ..."
1,2007_acura_mdx,200711112,"[month, careful, research, test, drive, bmw, l...","[adjusting, side, mirror, rotate, give, view, ..."
2,2007_acura_mdx,200711113,"[year, year, lease, love, car, thing, change, ...","[navi, easy, hand, free, great, awd, perfect]"
3,2007_acura_mdx,200711114,"[luxury, crossover, suv, owned, mdx, won, lexu...","[awd, system, exterior, styling, cargo, room]"
4,2007_acura_mdx,200711115,"[japanese, suv, suv, yukon, xl, envoy, xl, bea...","[navigation, sound, system, bluetooth, comfort..."
...,...,...,...,...
7942,2009_volvo_c70,200919053,"[vw, driver, year, talked, vw, lease, expired,...","[hardtop, roof, trunk, space, awesome, convert..."
7943,2009_volvo_c70,200919054,"[handle, beautiful, fun, drive, surprised, lar...","[retractable, hard, top, great, operates, quic..."
7944,2009_volvo_c70,200919055,"[excellent, exterior, interior, styling, inter...","[styling, fantastic, sound, system, big, trunk..."
7945,2009_volvo_c70,200919056,"[smooth, handling, head, turning, style, hand,...","[broad, shouldered, styling, dynamic, audio, s..."
7946,2009_volvo_c70,200919057,"[smooth, silk, shifting, manual, speed, excell...","[huge, trunk, smooth, speed, shifting, nice, d..."

In [61]:
# saving the DataFrame as a CSV file
# all_cars_DOC.to_csv('all_cars_DOC.csv', encoding='utf-8', index=False)
# all_cars_DOC = pd.read_csv('all_cars_DOC.csv')
# all_cars_DOC.head(1)

In [62]:
from collections import defaultdict

# Create a defaultdict to store the inverted index
inv_indx = defaultdict(list)

def inverted_index(col):

    global inv_indx

    # Create a defaultdict to store the document frequency
    doc_freq = defaultdict(int)

    # Iterate over the documents
    for idx, text in enumerate(all_cars_DOC[col]):
        # Get the ID of the dataframe
        doc_id = all_cars_DOC.iloc[idx]['DOCID']
        # Iterate over the words in the document
        for word in set(text):
            # Update the inverted index
            inv_indx[word].append((doc_id, text.count(word)))
            # Update the document frequency
            doc_freq[word] += 1

    # Sort the postings for each word by their document frequency
    inv_indx = {word: sorted(postings, key=lambda x: x[1]) for word, postings in inv_indx.items()}

    # Sort the inverted index by document frequency in ascending order
    inv_indx = sorted(inv_indx.items(), key=lambda x: doc_freq[x[0]])

    # Write the inverted index to a text file
    with open(str(col) + '_' + 'inverted_index.txt', 'w') as f:
        for word, postings in inv_indx:
            f.write(word + ': ' + str(doc_freq[word]) + '\n')
            # tokens.extend(word) # hw2
            # info.extend(str(doc_freq[word])) # hw2          
            for posting in postings:
                f.write(str(posting[0]) + ': ' + str(posting[1]) + '\n')
                # info.extend((str(posting[0]) + ',' + str(posting[1])))
                
            f.write('\n----------------\n')

    # Print the number of tokens, maximum, minimum, and average length of the posting list
    num_tokens = len(inv_indx)
    # num_tokens = len(set(inv_indx)) # meeeeeeeeeeeeeeeee
    
    postings_lengths = [len(postings) for word, postings in inv_indx]
    max_len = max(postings_lengths)
    min_len = min(postings_lengths)
    avg_len = sum(postings_lengths) / num_tokens
    
    print(f"Number of Tokens for {col}:", num_tokens)
    print(f"Maximum Length of Posting List for {col}:", max_len)
    print(f"Minimum Length of Posting List for {col}:", min_len)
    print(f"Average Length of Posting List for {col}:", avg_len)

    # Print the word with the most and least posting list
    most_postings = max(inv_indx, key=lambda x: len(x[1]))
    least_postings = min(inv_indx, key=lambda x: len(x[1]))
    print("\nWord with the most posting list:", most_postings[0])
    print("Word with the least posting list:", least_postings[0])
    print('\n------------\n')

In [63]:
# Calling the inverted_index function
inverted_index('TEXT')
# inverted_index('FAVORITE')

# Inverted indexes are stored in two separate files:
#    FAVORITE_inverted_index.txt
#    TEXT_inverted_index.txt

Number of Tokens for TEXT: 24713
Maximum Length of Posting List for TEXT: 26299
Minimum Length of Posting List for TEXT: 1
Average Length of Posting List for TEXT: 53.621171043580304

Word with the most posting list: car
Word with the least posting list: unhooking

------------

In [64]:
TEXT_tokens = []
FAVORITE_tokens = []
def get_tokens():
    global TEXT_tokens, FAVORITE_tokens
     # find tokens
    for _, row in all_cars_DOC.iterrows():
        TEXT_tokens.extend(row['TEXT'])  
        FAVORITE_tokens.extend(row['FAVORITE'])  
          
    TEXT_tokens = list(set(TEXT_tokens))
    FAVORITE_tokens = list(set(FAVORITE_tokens))
        
get_tokens()

In [65]:
len(TEXT_tokens)
# len(FAVORITE_tokens)

24713

In [66]:


# doc_freq = dict()
# doc_id = dict()
# term_freq = dict()

# def INV_INDEX(col):
#     global tokens, doc_freq
    
   
    
    # document frequency, document_id:
       
    # set all df for each token to 0
    # for token in tokens:
    #     doc_freq[token] = 0
    #     doc_id[token] = []
    #     # term_freq = 0
    
    # for _, row in all_cars_DOC.iterrows():
    #     for token in set(row[col]):
    #         doc_freq[token] += 1
    #         doc_id[token].append(row['DOCID'])
    #         term_freq[(row['DOCID'], token)] = row[col].count(token)
    
    
    # doc_freq = dict(sorted(doc_freq.items(), key=lambda x: x[1], reverse=True))

    # # Write the inverted index to a text file
    # with open(str(col) + '_' + 'inv_ind_2.txt', 'w') as f:
        
    #     for token in tokens:
    #         f.write(token + ': ' + str(doc_freq[token]) + '\n')
            
    #         for j in range(len(doc_id[token])):
    #              f.write(doc_id[token][j] + ': ' + str(term_freq[(doc_id[token][j], token)]) + '\n')
            
    #         f.write('\n----------------\n')
    
    # print(f"Number of Tokens for {col}:", len(tokens))
    
    # max_value = max(doc_freq.values())
    # max_pos = [key for key, value in doc_freq.items() if value == max_value]
    # print(f"Maximum Length of Posting List for {col}:", max_value)
    
    # min_value = min(doc_freq.values())
    # min_pos = [key for key, value in doc_freq.items() if value == min_value]
    # print(f"Minimum Length of Posting List for {col}:", min_value)
    
    # sum_value = sum(doc_freq.values())
    # len_posting = len(doc_freq)
    # print(f"Average Length of Posting List for {col}:", sum_value/len_posting)

    # print("\nWord with the most posting list:", max_pos[0])
    # print("Word with the least posting list:", min_pos[0])

In [67]:
# INV_INDEX('TEXT')

In [68]:
# print(len(tokens))
# # print(len(set(tokens)))
# print(tokens[200:400])

# <font color='lightgreen'>HW-2</font>

In [69]:
import math
def w_td(tf_td):
    return 1 + math.log10(tf_td) if tf_td > 0 else 0

def w_tq(q, term):
    tf_tq = q.count(term)
    return 1 + math.log10(tf_tq) if tf_tq > 0 else 0

In [70]:
# len_docs = all_cars_DOC.shape[0]
pos_id = []
for position,doc_id in enumerate(all_cars_DOC['DOCID']):
    pos_id.append(tuple([doc_id, position])) 
    
pos_id = dict(pos_id)

In [71]:
inv_indx = dict(inv_indx)
# inv_indx['car']

In [72]:
def length_list_item(token_list):
    return sum([len(word) for word in token_list])

In [73]:
scores = dict()
for _, row in all_cars_DOC.iterrows():
    scores[row['DOCID']] = 0

In [74]:
scores = dict()

def cosine_score(q, col, k):
    global scores
    for _, row in all_cars_DOC.iterrows():
        scores[row['DOCID']] = 0
    
    for term in nltk.word_tokenize(q):
        w_t_q = w_tq(q, term)
        pos_list_t = inv_indx[term]
        
        for pair in pos_list_t:
            w_t_d = w_td(tf_td=pair[1])
            scores[pair[0]] += w_t_d * w_t_q
        
    for _, row in all_cars_DOC.iterrows():
        if len(row[col]) != 0:
            #  scores[row['DOCID']] =  scores[row['DOCID']] / len(row[col])
             scores[row['DOCID']] =  scores[row['DOCID']] / length_list_item(row[col])
    
    # scores.sort(reverse=True)
    scores = dict(sorted(scores.items(), key=lambda x:x[1], reverse=True))
    keys = list(scores)[0:k] # top-k
    for key in keys:
        print('doc id:', key)
        print('file_name:', all_cars_DOC[all_cars_DOC['DOCID'] == key][["CAR_NAME"]].to_string(index=False,header=False))
        print('content:', all_cars_DOC[all_cars_DOC['DOCID'] == key][["TEXT"]].to_string(index=False,header=False))
        print('Relevancy:', scores[key])
        print('---------')
        


    # return scores[0:10]  # top-k

In [75]:
# scores

In [76]:
# while True:
#     query = input('Enter your query(exit to stop):')

#     if query.lower() == 'exit':
#         break
    
#     cosine_score(query)

# query = input('Enter your query(exit to stop):')
# cosine_score(query)
col = 'TEXT'
text = "volvo"
cosine_score(text, col, k=5)

doc id: 200729953
file_name: 2007_volvo_xc70
content: [love, volvo, sweden, safe, comfortable, sturdy]
Relevancy: 0.027777777777777776
---------
doc id: 200730005
file_name: 2007_volvo_xc90
content: [volvo, make, world, safest, car, fun, easy, drive, suv]
Relevancy: 0.02631578947368421
---------
doc id: 200712117
file_name: 2007_bmw_3_series
content: [awesome, car, fast, fun, drive, traded, volvo, sr, awd, make, volvo, bus]
Relevancy: 0.026020599913279624
---------
doc id: 200826201
file_name: 2008_volkswagen_passat
content: [volvo, turbo, comparison, quietness, pep, comfort]
Relevancy: 0.02564102564102564
---------
doc id: 200729949
file_name: 2007_volvo_xc70
content: [great, fun, drive, enjoying, technology, volvo, year]
Relevancy: 0.025
---------

In [77]:
all_cars_DOC[all_cars_DOC['DOCID'] == '200911133'][["CAR_NAME", 'TEXT']].to_string(index=False,header=False)
all_cars_DOC[all_cars_DOC['DOCID'] == '200911133']
# print(str(s))

,CAR_NAME,DOCID,TEXT,FAVORITE
22,2009_acura_mdx,200911133,[car],"[comfort, mode, voice, command, bluetooth, link]"

## PART 2 - HW-2

In [78]:
def simple_name(words):
    # Remove numbers from words
    words = [re.sub(r'\d', '', word) for word in words]

    # Remove dashes from beginning and end of words
    words = [word.strip('_') for word in words]
    
    return words

names_2007 = simple_name(car_2007_names)
names_2008 = simple_name(car_2008_names)
names_2009 = simple_name(car_2009_names)

In [137]:
scores = dict()

def cosine_score_2(q, col, n_related):
    global scores
    
    for _, row in all_cars_DOC.iterrows():
        scores[row['DOCID']] = 0
    
    if col == 'TEXT':
        for term in q:
            if term  in TEXT_tokens:
                # continue  
                w_t_q = w_tq(q, term)
                pos_list_t = inv_indx[term]
    
                for pair in pos_list_t:
                    w_t_d = w_td(tf_td=pair[1])
                    scores[pair[0]] += w_t_d * w_t_q              
    elif col == 'FAVORITE':
        for term in q:
            if term  in FAVORITE_tokens:    
                # continue        
                w_t_q = w_tq(q, term)
                pos_list_t = inv_indx[term]
    
                for pair in pos_list_t:
                    w_t_d = w_td(tf_td=pair[1])
                    scores[pair[0]] += w_t_d * w_t_q
        
        
    
    for _, row in all_cars_DOC.iterrows():
        if len(row[col]) != 0:
            #  scores[row['DOCID']] =  scores[row['DOCID']] / len(row[col])
             scores[row['DOCID']] =  scores[row['DOCID']] / length_list_item(row[col])
    
  
    # Write the inverted index to a text file
    with open(str(col) + '_' + 'Evaluation.txt', 'a') as f:
        f.write(f'Query: {q}\n')
        # scores.sort(reverse=True)
        scores = dict(sorted(scores.items(), key=lambda x:x[1], reverse=True))
        for k in [1, 5, 10]:
            keys = list(scores)[0:k] # top-k
            n_related_retrieved_docs = 0
            f.write(f'k = {k}\n')
            for key in keys:  
                f.write(f'doc id: {key}\n')
                file_name = all_cars_DOC[all_cars_DOC['DOCID'] == key][["CAR_NAME"]].to_string(index=False,header=False)
                f.write(f'file_name:{file_name}\n')
                file_name = simple_name([file_name])
                file_name = file_name[0]
                file_name = file_name.split('_')
                if file_name == q:
                    n_related_retrieved_docs += 1
                content = all_cars_DOC[all_cars_DOC['DOCID'] == key][["TEXT"]].to_string(index=False,header=False)    
                f.write(f'content: {content}')
                f.write('\n')
                f.write(f'Relevancy:{scores[key]}\n')
                f.write('---------\n')
            
            f.write(f'P@{k}: {n_related_retrieved_docs/k}\n')
            f.write(f'R@{k}: {n_related_retrieved_docs/n_related}\n')
            f.write('\n===================================================\n===================================================\n\n')

In [138]:
# Delete files content
with open('TEXT_Evaluation.txt', 'w') as f:
    pass

with open('FAVORITE_Evaluation.txt', 'w') as f:
    pass

In [140]:
all_names = []
all_names.extend(names_2007)
all_names.extend(names_2008)
all_names.extend(names_2009)
all_names = list(set(all_names))

for col in ['TEXT', 'FAVORITE']:
    for name in all_names:
        n_related = all_cars_DOC[all_cars_DOC['CAR_NAME'].str.contains(name, case=False)][['CAR_NAME']].drop_duplicates().shape[0]
        if n_related == 0:
            continue
        query = name.split('_')
        cosine_score_2(query, col, n_related)

In [142]:
# write list to file
with open('all_names.txt', 'w') as fp:
    for name in all_names:
        fp.write(name + '\n')

# <font color='skyblue'>FINISH</font>